/* Estilos base */
.conteiner-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fcfcfc;
    border-bottom: 2px solid rgba(223, 223, 223, 0.904);
    width: 98%;
    padding: 10px;
}

.logo img {
    max-width: 100%; /* A imagem se ajustará automaticamente à largura do contêiner pai */
    height: auto; /* Isso manterá a proporção da imagem */
    border-radius: 10px;
}

.nav-menu {
    list-style: none;
    margin: 0; /* Reduzir a margem para evitar espaçamento indesejado */
    padding: 0; /* Remover o preenchimento para evitar espaçamento indesejado */
    display: flex;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(22, 22, 22);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 15px; /* Espaçamento horizontal entre os links */
    padding: 10px;
    font-size: 20px;
}

/* Adicionando um estilo de menu responsivo para telas menores */
@media screen and (max-width: 768px) {
    .conteiner-menu {
        flex-direction: column; /* Empilhar os elementos verticalmente */
    }

    .nav-menu {
        flex-direction: column; /* Empilhar os links verticalmente */
        text-align: center; /* Centralizar o texto */
    }

    .nav-menu a {
        margin: 10px 0; /* Espaçamento vertical entre os links */
    }
}
