/*quem somos */
#conteiner-quem {
    border: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    margin: 8%;
}
#title-quem {
    text-align: center;
    padding: 5px;
}
#subtitle-quem {
    text-align: center;
    padding: 4px;
    margin: 3px;
}
.quem-desc {
    padding: 5px;
    margin: 15px;
    font-size: 20px;
}